<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD17iVtK6ZWXj7zca77uY2Fdg8ur3vOjpY</string>
	<key>GCM_SENDER_ID</key>
	<string>734121137022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>deneme-792df</string>
	<key>STORAGE_BUCKET</key>
	<string>deneme-792df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734121137022:ios:0b151540f8fef8fcef192f</string>
</dict>
</plist>